@charset "UTF-8";

/*Colors Green #88A33E Raspberry #8E3557 light brown #C2BD86*/

body {
	margin: 0%;
	padding: 0%;
	font-family: 100%/1.5 Georgia, "Times New Roman", Times, serif, HarabaraHand;/*100% = 16px*/
	max-width: 1260 px;
	background-color: #8E3557;
}

/* begin wrapper section*/
.wrapper {
	width: 80%;/*this was based on 1260 px*/
	margin: 0% auto;
}

.header {
	text-indent: -79.3571428571429%; /*-9999px / 1260px*/
	background-color: #88A33E;
	color: #88A33E;
	margin: 0%;
	padding: 0%;
	height: 0.0952380952381%; /*120px /1260px*/
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
	border-radius: .6em;
	background-image: url(../images/background.png);
	background-repeat: repeat-x;
	background-position: 370px 50px;
} 
.header a img {
	margin: 0%;
	padding: 0%;
}
/* end wrapper section*/

/* begin h,ul,ol...misc. section section*/
.content h1, h2, h3, h4, h5, h6, p {
	margin-top: 0%;	 
	padding-right: 0.21428571428571%; /* 15px / 70%*/
	padding-left: 0.21428571428571%; /* 15px / 70%*/ 
}


.content h1, h2{
	font-family: HarabaraHand;
	text-align: center;
	font-weight: bold;
	margin: 0.28571428571429%; /*20px / 70%*/	
}

.content h1 {
	font-size: 1.375em; /* This was 22 px. / 16px*/
}

.content h2 {
	font-size: 1.25em; /* This was 20 px.  divided by 16px.  Target (h2) / immediate container (16px)*/
}

aside h1, h2{
	font-family: HarabaraHand;
	text-align: center;
	font-weight: bold;
	margin: 0.66666666666667%; /*20px / 30%*/	
}

aside h2{
	font-size: 1.25em; /* 22px / 16px*/
}
h2 {
text-shadow:4px 4px 2px gray;
}

.content h4 {
	text-shadow: 4px 4px 2px gray;
	margin-top: 0.28571428571429% 0% 0%; /* 20 px /70%*/
	padding: 0.28571428571429% 0% 0%; /* 20 px /70%*/
}

aside h4 {
	text-shadow: 4px 4px 2px gray;
	margin-top: 0.66666666666667%; /* 20px / 30%*/
	padding: 0.66666666666667% 0% 0%;
}
a img { /* this gets rid of blue border around images */
	border: none;
}
p{ font-size: 0.8125em; /*This is 13 px / 16px*/
}

img {
	max-width: 100%;
	
}
		

/* end h,ul,ol...misc. section section*/

/* begin nav section*/ 
nav {
	background-color: #8E3557;
}

.button {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    display: inline-block;
    font: 0.875em/100% Georgia, "Times New Roman", Times, serif;
    margin: 0% 0.02857142857143%; /* 2px / 70%*/
    outline: medium none;
    padding: 0.5em 2em 0.55em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;
	
	
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.green {
    background: -moz-linear-gradient(center top , #7DB72F, #88A33E) repeat scroll 0 0 transparent;
    border: 1px solid #538312;
    color: #E8F0DE;
	
}
/* end nav section*/


/* begin aside section*/ 

aside h1, h2, h3, h4, h5, h6, p{
	margin-top: 0%;	 
	padding-right: 0.5%; /* 15px /30%*/
	padding-left: 0.5%; /* 15px /30%*/
}
aside {
	float: right;
	width: 30%;
	background-color: #C2BD86;
	padding-bottom: 10%; /* This is 110 px / 30%*/
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border-radius: 0.5em;
	-webkit-box-shadow: .6em 4px #666;
	-moz-box-shadow: .6em #666;
	box-shadow: .6em #666;
}
cite {
	font-size: 0.9375em;
	padding-left: 10%;
	padding-right: 10%;
}

aside p {
	padding-left: 4%;
	padding-right: 3%;
}
aside .Hours h4 {
	font-family: HarabaraHand;
	text-align: center;
	
}
aside #events ul li {
	display: block;
}


/* begin events section*/
aside #events ul {
	list-style: none;
	color: #8E3557;
	letter-spacing: 0.3em;
	background-color: #88A33E;
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
	border-radius: .6em;
	padding-right: 5%;
	
}
.Hours {
	background-color: #88A33E;
	
}

#events ul li {
	font-family: HarabaraHand;
	font-size: 1.125em; /* 18px / 16px*/
	color: #8E3557;
	line-height: 2.1875em; /* 35px /16px */
	margin-right: 1.66666666666667%; /*50px / 30%*/
	text-align: center;
	text-decoration: none;
		
}

#events ul li a:link{
	color: #8E3557;
}

#events ul li a:visited{
	color: #C2BD86;
}

#events ul li a:hover{
	color:#FFF;
}

#events ul li a:active{
	color:#000;
}

/* end events section*/

.Hours ol {
	font-size: 0.875em; /* 14px divided by 16px. */
	list-style: url(../images/liststyleimage.png);
	text-align: justify;
	margin-left: 1.5%; /*45px / 30%*/
	padding-bottom: 1%; /* 30px /30%*/
	margin-right: 0.33333333333333% /*10px / 30%*/
}
/* end aside section*/


/* begin content section*/
.content {
	padding: 0.14285714285714% 0% 10%;/*10px 0 200px all divided by 70%*/
	width: 70%;
	float: right;
	background-color: #FFF;
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
	border-radius: .6em;
	background-image: url(../images/background.png);
	-moz-background-image: url(../images/background.png);
	-webkit-background-image: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: -85px -100px;
}

.column {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	
}
.column h3 {
	color: #8E3557;
	
}

.content p img {
	float: right;
	margin: 0.07142857142857% 0.14285714285714%  0.02857142857143% 0.07142857142857%; /*5px 10px 2px 5px all / 70%*/
	padding: 0% 0.14285714285714% 0.07142857142857%; /*10 5 / 70%*/
	width: 42.8571428571429%;/*This is 300 (width of picture) / 70% (its container size)*/
	
}

.content p {
	padding-left:2.1428571428571%; /* 15px / 70%*/
}


.column h4 {
	color: #8E3557;
}

/* end content section*/

/* begin gallery section*/


.gallery ul li {
	float: left;
	margin-left: 5.2857142857143%;
}
.gallery ul li a {
	border: 6px solid #88A33E;
	display: block;
	height: 67px; /*67px / 70% (the container)*/
	width: 100px; /*100px / 70% (the container)*/
	outline: 0;
	

}
.gallery ul li a:visited {
	border-color: #88A33E;
}
	

.gallery ul li a:hover {
	border-color:#8E3557;
}
.gallery ul li a:active {
	border-color:#8E3557;
}
	

.gallery ul {
	width: 78.5714%; /* 550px / 70% content container*/
	border: 6px solid #C2BD86;
	list-style: none;
	margin: 0.0436364% auto 5.0436364%;/* 24px / 550px (size of gallery)*/
	overflow: hidden;
	padding: 0.00909091%; /* 5px / 550px (the size of the gallery)*/	
}

/* end gallery section*/


/* begin Our Produce section*/
.Asparagus {
	background-color: #88A33E;
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
	border-radius: .6em;
	margin: 0.7142857142857%; /* 5px / 70% */
	padding-left: 14.285714285714%;
	padding-right: 14.285714285714%;
}

.Strawberry {
	background-color: #8E3557;
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
	border-radius: .6em;
	margin: 0.7142857142857%; /* 5px / 70% */
	padding-left: 14.285714285714%;
	padding-right: 14.285714285714%;
}



.Tomatoes {
	background-color: #C2BD86;
	filter:alpha(opacity=90)
-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
	border-radius: .6em;
	margin: 0.7142857142857%; /* 5px / 70% */
	padding-left: 14.285714285714%;
	padding-right: 14.285714285714%;
}
.column h4 {
	margin-left: 11.4285714285714%; /*80px / 70%*/
}

/* end Our Produce section*/

/*begin table section*/

.holder{
	padding-left: 15%;
	padding-right: 10%;
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
	border-radius: .6em;
	border: solid #883354;
	padding-bottom: 5%;
	
}

.holder h3 {
	padding-left: 20%;
	padding-top: 5%;
}

table{
	border-collapse: collapse;
	border: 1px solid #000;
	font-size: 0.75em; /*10px / 16px*/

		
}
th {
	text-align: left;
	background-color: #C2BD86;
	padding-right: 10%;
		
}

td{
	border: 1px solid #000;
	padding: 0.5em;
}

.odd {
	background-color:#C2BD86;
}

/* table section*/


/* begin forms */
input:focus {
	background-color: #C2BD86;
	
}
.form.container1 {
	padding-left: 16%;
}

fieldset {
	background-color: #88A33E;
	border: 4px solid #883354;
	-webkit-border-radius: 0.6em;
	-moz-border-radius: 0.6em;
	border-radius: 0.6em;
	padding-left: 10%;
	padding-right: 10%;
	margin-left: 5%;
	width: 40%;		
}

textarea {
	background-color: #FFFFFF;
	border-color: #8E3557;
	color: #000;
}

aside fieldset {
	padding-left: 10%;
	padding-right:10%;
	
	
}

legend {
	font-family: HarabaraHand;
	color: #000000;	
}

input {
	border: 2px solid #883354;
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
	border-radius: .6em;
}

label { font-size:0.75em;
}
fieldset form p { font-size: 0.75em;
}

aside h3 {
	font-family:HarabaraHand;
	font-size: 0.75em;
	padding-left: 15%;
}

/* end forms*/

/* begin footer section*/

footer {
	padding: 10px 0 15px;
	background-color: #88A33E;
	-webkit-border-radius: .6em;
	-moz-border-radius: .6em;
	border-radius: .6em;
	clear: both;
	background-image: url(../images/footerbackground.png);
	background-repeat: no-repeat;
}

footer ul {
	list-style: none;
	
}
footer ul li {
	0.00793650793651%;display: inline;
	margin-left: 14.936507936508%;
	padding: 0.03968253968254% 0.03968253968254%;  /* 50px 40px 10px all divided by 1260px */
	color: #C2BD86;
	font-size: 0.625em;
}


footer ul li a:link{
	color: #8E3557;
}

footer ul li a:visited{
	color: #C2BD86;
}

footer ul li a:hover{
	color:#FFF;
}

footer ul li a:active{
	color:#000;
}

/*Tablet Portrait size to Standard 960 (Devices and Browsers)*/
@media screen and (min-width: 768px) and (max-width: 959px) {
/*.content{ background-color:#039;
	
}
*/
.content h1, h2{
	font-size: 1.1255em; /* 18px divided by 16px.  Target (h1) / immediate container (16px)*/
	margin: 0.28571428571429%; /*20px / 70%*/	
}

.content  h2{
	font-size: 1.0em; /* 18px divided by 16px.  Target (h1) / immediate container (16px)*/
	margin: 0.28571428571429%; /*20px / 70%*/	
}
content h3{
	font-size:0.6875em; /* 11px / 16px*/
	
}

aside h1{
	font-size: 1.0em; /* 18px divided by 16px.  Target (h1) / immediate container (16px)*/
	margin: 0.66666666666667%; /*20px / 30%*/	
}

aside h2{
	font-size: 1.0em; /* 14px divided by 16px.*/
	margin: 0.66666666666667%; /*20px / 30%*/		
}
aside h3 {
	padding-left: 30%;
}

.button {
	font: 0.75em/100% Georgia, "Times New Roman", Times, serif; /* 12px / 16px */

}

.Hours ol {
	font-size: 0.75em; /* 15px divided by 16px. */
	padding-right: 2.6666666666667%; /*8px / 30%*/

}

#events ul li {
	font-size: 0.875em; /* 15px divided by 16px. */
	padding-right: 10px;
}

.column h4 {
	font-size: 0.75em;

}

blockquote {
	font-size: 0.625em; /*10px / 16px*/
	
}

table{
	font-size: 0.625em; /*10px / 16px*/
		
}
.content{
	float:none;
	width: 100%;
	
}
aside {
	float:none;
	width: 100%;

}

.form.container1 {
	padding-left: 5%;
	padding-right: 7%;
}

.form.container2 {
	padding-left: 20%;
	padding-right: 18%;
}

legend {
	font-size: 0.75em;
}

footer {
	font-size: 0.625em;
}

fieldset { 
	padding-left: 15%;
}
aside fieldset {
	padding-left: 10%;
	padding-right: 10%;
}


}
	
/*Mobile landscape size to Tablet Portrait size (Devices and Browsers)*/
@media screen and (min-width: 480px) and (max-width: 767px) {
/*.content{
	background-color: #0C6;
	
}
*/

.content h1{
	font-size: 1.0em; /* 16px / 16px*/
	margin: 0.28571428571429%; /*20px / 70%*/	
}

.content h2{
	font-size: 0.875em; /* 14px divided by 16px.  Target (h1) / immediate container (16px)*/
}
.content h3{
	font-size:.75em; /* 12px / 16px*/
	padding-left: 30%;
}

aside h2 {font-size: 1.125em; /* 18px / 16px*/
}

.Hours h4 {
	font-size: 0.75em;
}
.Hours ol{
	padding-left: 30%;
	padding-bottom: 8%;
}
.Hours ol li{
	font-size: 0.875em;
	
}

#events ul li {
	font-size: 0.85em; /* 12px divided by 16px. */
	
	
}

.column h4 {
	font-size: .75em; /* 12px / 16px*/

}

blockquote {
	font-size: 0.75em; /*12px / 16px*/
}

footer {
	font-size: 0.5625em;
	padding-left: 15%;
}

.content{
	float:none;
	width: 100%;
}

.content p{ font-size: 0.875em; /*14px /16px*/
}

aside p{ font-size: 0.875em; /*14px /16px*/
}
aside {
	float:none;
	width: 100%;
}
.button {
	font: 0.75em/100% Georgia, "Times New Roman", Times, serif;

}

nav { padding-left: 20%;
}

th {
	text-align: left;
	background-color: #C2BD86;
	padding-right: 10%;
		
}

td{
	border: 1px solid #000;
	padding: 0.2em;
}

.holder {
	padding-left: 5%;
}

legend {
	font-size: 0.75em;
}

.form.container1 {
	padding-left: 4%;
	padding-right: 5%;
	margin-right: 4%;
	/*font-size: 0.625%;*/
	
}

.form.container2 {
	padding-left: 10%;
	padding-right: 10%;
	margin-left: 6%;
}

fieldset { 
	padding-left: 15%;
	

}

h3 { text-indent: 10%;

}


}

	
/*Mobile Portrait size to Mobile Landscape size (Devices and Browsers)*/
@media screen and (max-width: 479px) {
/*.content{
	background-color: #FC3;
	}
	*/
.content { background-image:none;
}
footer {
	background-image:none;
}
.header {
	background-image: url(../images/background.png);
	background-color: #88A33E;
}

.content h1{
	font-size: 0.875em; /* 14px / 16px*/
	margin: 0.28571428571429%; /*20px / 70%*/	
}

.content h2{
	font-size:.75em; /* 12px divided by 16px.  Target (h1) / immediate container (16px)*/
}
.content h3{
	font-size:0.625em; /* 10px / 16px*/
	padding-left: 30%;
}

aside h2 {font-size:.75em; /* 12px / 16px*/
}
aside h4 {font-size:0.5625em; /* 9px / 16px*/
}

.Hours ol {
	padding-left: 25%;
	padding-bottom: 8%;

}

.Hours ol li{
	font-size: 0.6875em; /* 11px divided by 16px.*/ 
}
.Hours h4 {0.562em; /* 09px divided by 16px. */
}

#events ul li {
	font-size: 0.625em; /* 10px divided by 16px. */
	padding-right: 4%;
	padding-left: 0%;
	
	
}

.column h4 {
	font-size: .75em; /* 12px / 16px*/

}

.column {
	width:  100%;
	font-size: .75em; /* 12px / 16px*/
	
}

blockquote {
	font-size: .75em; /* 12px / 16px*/
	padding-left:2.1428571428571%; /* 15px /70%*/
}

footer {
	font-size: 0.5625em;
	padding-right: 25%;
	padding-left: 10%;
	text-align: center;
}

.content{
	float:none;
	width: 100%;
	
}
aside {
	float:none;
	width: 100%;
}

.button {
	font: 0.6255em/100% Georgia, "Times New Roman", Times, serif;
	padding: 0.5em 2em 0.55em;
}

nav { padding-left: 30%;
}

.header a img {
	
	padding-left: 20%;
	padding-right: 10%;
}

table{
	font-size: 0.5625em;
	
}

.holder {
	padding-left:0%;
}

td {
	padding:0%;
}

.form.container1 {
	font-size: 0.562;
	margin-right: 85%;
	
}

.form.container2 {
	margin-right: 30%;
	margin-left: 10%;
}


fieldset {
	padding-right: 5%;
	padding-left: 5%;	
	
}

textarea {
	width: 90%;
	padding-left: 8%;
	
}

	
	
}
